@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.carousel {
  display: flex;
  width: 200%; /* Adjust to the combined width of duplicated items */
  animation: slide-left 10s linear infinite;
}

.carousel img {
  width: auto; /* Ensure images scale properly */
}


/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scroll thumb on hover */
}

::-webkit-scrollbar-track {
  background: #16161A; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners of the track */
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #16161A;
}

body {
  background-color: #16161A;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

:root {

  /* dark theme */
  --main: #16161a;


  /* green theme */
  --light: #dad7cdff;
  --primaryLight: #a3b18aff;
  --primary: #588157ff;
  --primaryDark: #3a5a40ff;
  --dark: #344e41ff;


  /* purple theme */
  --russian-violet: #10002bff;
  --russian-violet-2: #240046ff;
  --persian-indigo: #3c096cff;
  --tekhelet: #5a189aff;
  --french-violet: #7b2cbfff;
  --amethyst: #9d4eddff;
  --heliotrope: #c77dffff;
  --mauve: #e0aaffff;

  /* line colors */

  --linePink: #ec4899;
  --linePurple: #a855f7;
  --lineIndigo: #6366f1;

  /* text colors */
  --textPrimary: #9ca3af;
  --textSecondary: #d1d5db;
  








}
